psycopg2-binary==2.8.6
click==6.7
python-openstackclient==3.12.0
openstacksdk==0.20.0
prometheus-client==0.1.1
os-client-config==1.30.0
requestsexceptions==1.2.0
keystoneauth1==3.11.2
osc-lib==1.11.0
oslo.db==4.42.0
mysql-connector-python==8.0.22
PyMySQL==1.1.1
