pyvmomi==6.7.3
openstacksdk==0.40.0
keystoneauth1==4.0.0
os-client-config==1.31.2
os-service-types==1.7.0
osc-lib==1.11.1
python-barbicanclient==4.7.0
python-cinderclient==4.0.1
python-dateutil==2.7.3
python-designateclient==2.10.0
python-glanceclient==2.12.1
python-ironicclient==2.5.0
python-keystoneclient==4.0.0
python-manilaclient==1.24.1
python-neutronclient==7.0.0
python-novaclient==11.0.0
python-openstackclient==3.18.0
python-swiftclient==3.6.0
python-octaviaclient==2.0.0
osc-lib==1.11.1
osc-placement==1.7.0
pytz==2018.5
PyYAML==3.13
requests==2.20.0
requestsexceptions==1.4.0
six==1.11.0
